body{
    text-align: center;
}
.mybtn{
    margin: 50px auto;
    text-align: center;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(14, 129, 138);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}